#rec225446007 .t396__artboard {
    height: 880px;
    background-color: #ee93d5;
    overflow: visible;
}

#rec225446007 .t396__filter {
    height: 880px;
}

#rec225446007 .t396__carrier {
    height: 880px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec225446007 .t396__artboard {
        height: 830px;
    }

    #rec225446007 .t396__filter {
        height: 830px;
    }

    #rec225446007 .t396__carrier {
        height: 830px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .t396__artboard {
        height: 1040px;
    }

    #rec225446007 .t396__filter {
        height: 1040px;
    }

    #rec225446007 .t396__carrier {
        height: 1040px;
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .t396__artboard {
        height: 990px;
    }

    #rec225446007 .t396__filter {
        height: 990px;
    }

    #rec225446007 .t396__carrier {
        height: 990px;
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .t396__artboard {
        height: 790px;
    }

    #rec225446007 .t396__filter {
        height: 790px;
    }

    #rec225446007 .t396__carrier {
        height: 790px;
    }
}

#rec225446007 .tn-elem[data-elem-id="1598880049829"] {
    z-index: 1;
    top: 140px;
    left: calc(50% - 600px + 49px);
    width: 660px;
}

#rec225446007 .tn-elem[data-elem-id="1598880049829"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225446007 .tn-elem[data-elem-id="1598880049829"] {
        top: 100px;
        left: calc(50% - 480px + -15px);
        width: 590px;
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .tn-elem[data-elem-id="1598880049829"] {
        top: 390px;
        left: calc(50% - 320px + 20px);
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .tn-elem[data-elem-id="1598880049829"] {
        top: 390px;
        left: calc(50% - 240px + -10px);
        width: 500px;
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .tn-elem[data-elem-id="1598880049829"] {
        top: 388px;
        left: calc(50% - 160px + -4px);
        width: 330px;
    }
}

#rec225446007 .tn-elem[data-elem-id="1598880838326"] {
    z-index: 6;
    top: 530px;
    left: calc(50% - 600px + 150px);
    width: 278px;
}

#rec225446007 .tn-elem[data-elem-id="1598880838326"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225446007 .tn-elem[data-elem-id="1598880838326"] {
        top: 492px;
        left: calc(50% - 480px + 150px);
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .tn-elem[data-elem-id="1598880838326"] {
        top: 778px;
        left: calc(50% - 320px + 140px);
        width: 200px;
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .tn-elem[data-elem-id="1598880838326"] {
        top: 727px;
        left: calc(50% - 240px + 75px);
        width: 200px;
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .tn-elem[data-elem-id="1598880838326"] {
        top: 606px;
        left: calc(50% - 160px + 30px);
        width: 140px;
    }
}

#rec225446007 .tn-elem[data-elem-id="1598881201577"] {
    color: #ffffff;
    z-index: 2;
    top: 231px;
    left: calc(50% - 600px + 721px);
    width: 190px;
}

#rec225446007 .tn-elem[data-elem-id="1598881201577"] .tn-atom {
    color: #ffffff;
    font-size: 36px;
    font-family: "NunitoSans", Arial, sans-serif;
    line-height: 1.2;
    font-weight: 100;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225446007 .tn-elem[data-elem-id="1598881201577"] {
        top: 181px;
        left: calc(50% - 480px + 571px);
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .tn-elem[data-elem-id="1598881201577"] {
        top: 131px;
        left: calc(50% - 320px + 91px);
    }

    #rec225446007 .tn-elem[data-elem-id="1598881201577"] .tn-atom {
        font-size: 32px;
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .tn-elem[data-elem-id="1598881201577"] {
        top: 131px;
        left: calc(50% - 240px + 11px);
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .tn-elem[data-elem-id="1598881201577"] {
        top: 135px;
        left: calc(50% - 160px + 11px);
    }

    #rec225446007 .tn-elem[data-elem-id="1598881201577"] .tn-atom {
        font-size: 28px;
    }
}

#rec225446007 .tn-elem[data-elem-id="1598881295720"] {
    color: #ffffff;
    z-index: 3;
    top: 290px;
    left: calc(50% - 600px + 720px);
    width: 400px;
}

#rec225446007 .tn-elem[data-elem-id="1598881295720"] .tn-atom {
    color: #ffffff;
    font-size: 20px;
    font-family: "NunitoSans", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225446007 .tn-elem[data-elem-id="1598881295720"] {
        top: 240px;
        left: calc(50% - 480px + 570px);
        width: 380px;
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .tn-elem[data-elem-id="1598881295720"] {
        top: 190px;
        left: calc(50% - 320px + 90px);
        width: 460px;
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .tn-elem[data-elem-id="1598881295720"] {
        top: 190px;
        left: calc(50% - 240px + 10px);
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .tn-elem[data-elem-id="1598881295720"] {
        top: 184px;
        left: calc(50% - 160px + 10px);
        width: 300px;
    }

    #rec225446007 .tn-elem[data-elem-id="1598881295720"] .tn-atom {
        font-size: 18px;
    }
}

#rec225446007 .tn-elem[data-elem-id="1598881324223"] {
    color: #ffffff;
    z-index: 4;
    top: 176px;
    left: calc(50% - 600px + 720px);
    width: 80px;
}

#rec225446007 .tn-elem[data-elem-id="1598881324223"] .tn-atom {
    color: #ffffff;
    font-size: 20px;
    font-family: "NunitoSans", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    opacity: 0.6;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225446007 .tn-elem[data-elem-id="1598881324223"] {
        top: 126px;
        left: calc(50% - 480px + 570px);
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .tn-elem[data-elem-id="1598881324223"] {
        top: 76px;
        left: calc(50% - 320px + 90px);
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .tn-elem[data-elem-id="1598881324223"] {
        top: 76px;
        left: calc(50% - 240px + 10px);
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .tn-elem[data-elem-id="1598881324223"] {
        top: 80px;
        left: calc(50% - 160px + 10px);
    }
}

#rec225446007 .tn-elem[data-elem-id="1598881393025"] {
    color: #ffffff;
    z-index: 7;
    top: 600px;
    left: calc(50% - 600px + 380px);
    width: 270px;
}

#rec225446007 .tn-elem[data-elem-id="1598881393025"] .tn-atom {
    color: #ffffff;
    font-size: 36px;
    font-family: "NunitoSans", Arial, sans-serif;
    line-height: 1.2;
    font-weight: 100;
    opacity: 0.6;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225446007 .tn-elem[data-elem-id="1598881393025"] {
        top: 500px;
        left: calc(50% - 480px + 370px);
        width: 240px;
    }

    #rec225446007 .tn-elem[data-elem-id="1598881393025"] .tn-atom {
        font-size: 32px;
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .tn-elem[data-elem-id="1598881393025"] {
        top: 790px;
        left: calc(50% - 320px + 330px);
        width: 240px;
    }

    #rec225446007 .tn-elem[data-elem-id="1598881393025"] .tn-atom {
        font-size: 32px;
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .tn-elem[data-elem-id="1598881393025"] {
        top: 730px;
        left: calc(50% - 240px + 310px);
        width: 160px;
    }

    #rec225446007 .tn-elem[data-elem-id="1598881393025"] .tn-atom {
        font-size: 28px;
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .tn-elem[data-elem-id="1598881393025"] {
        top: 609px;
        left: calc(50% - 160px + 190px);
        width: 120px;
    }

    #rec225446007 .tn-elem[data-elem-id="1598881393025"] .tn-atom {
        font-size: 22px;
    }
}

#rec225446007 .tn-elem[data-elem-id="1598883041521"] {
    z-index: 5;
    top: 386px;
    left: calc(50% - 600px + -20px);
    width: 339px;
}

#rec225446007 .tn-elem[data-elem-id="1598883041521"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec225446007 .tn-elem[data-elem-id="1598883041521"] .tn-atom {
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    transform: rotate(330deg);
}

@media screen and (max-width: 1199px) {
    #rec225446007 .tn-elem[data-elem-id="1598883041521"] {
        top: 336px;
        left: calc(50% - 480px + -20px);
        width: 300px;
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .tn-elem[data-elem-id="1598883041521"] {
        top: 630px;
        left: calc(50% - 320px + 10px);
        width: 250px;
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .tn-elem[data-elem-id="1598883041521"] {
        top: 615px;
        left: calc(50% - 240px + 10px);
        width: 260px;
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .tn-elem[data-elem-id="1598883041521"] {
        top: 515px;
        left: calc(50% - 160px + -14px);
        width: 180px;
    }
}

#rec225446007 .tn-elem[data-elem-id="1599231862763"] {
    z-index: 9;
    top: 625px;
    left: calc(50% - 600px + 215px);
    width: 770px;
}

#rec225446007 .tn-elem[data-elem-id="1599231862763"] .tn-atom {
    opacity: 0.6;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225446007 .tn-elem[data-elem-id="1599231862763"] {
        top: 575px;
        left: calc(50% - 480px + 130px);
        width: 700px;
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .tn-elem[data-elem-id="1599231862763"] {
        top: 902px;
        left: calc(50% - 320px + 90px);
        width: 460px;
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .tn-elem[data-elem-id="1599231862763"] {
        top: 840px;
        left: calc(50% - 240px + 30px);
        width: 420px;
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .tn-elem[data-elem-id="1599231862763"] {
        top: 700px;
        left: calc(50% - 160px + 10px);
        width: 300px;
    }
}

#rec225446007 .tn-elem[data-elem-id="1612885017783"] {
    z-index: 8;
    top: 881px;
    left: calc(50% - 600px + 44px);
    width: 570px;
    height: 169px;
}

#rec225446007 .tn-elem[data-elem-id="1612885017783"] .tn-atom {
    background-color: #6a85fc;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225446007 .tn-elem[data-elem-id="1612885017783"] {
        top: 829px;
        left: calc(50% - 480px + 44px);
        width: 570px;
        height: 138px;
    }
}

@media screen and (max-width: 959px) {
    #rec225446007 .tn-elem[data-elem-id="1612885017783"] {
        top: 1040px;
        left: calc(50% - 320px + 138px);
        width: 289px;
        height: 93px;
    }
}

@media screen and (max-width: 639px) {
    #rec225446007 .tn-elem[data-elem-id="1612885017783"] {
        top: 990px;
        left: calc(50% - 240px + 98px);
    }

    #rec225446007 .tn-elem[data-elem-id="1612885017783"] .tn-atom {
        opacity: 0;
    }
}

@media screen and (max-width: 479px) {
    #rec225446007 .tn-elem[data-elem-id="1612885017783"] {
        top: 789px;
        left: calc(50% - 160px + 26px);
    }
}