* {
font-family: 'NunitoSans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  // &::-webkit-scrollbar {
  //   width: 7px;
  //   height: 0px;
  // }

  // &::-webkit-scrollbar-track {
  //   box-shadow: inset 0 0 3px rgba(black, 0.8);
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: $green;
  //   border-radius: 3px;
  // }
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

// .container {
//   @include mq("xl") {
//     max-width: 1200px;
//   }

//   @include mq("md", max) {
//     max-width: calc(100% - 16px);
//   }
// }

// .logo {
//   @include mq("xl", max) {
//     width: 101px;
//     height: 37px;
//   }
// }

// .section {
//   padding: 20px 20px;
//   border-radius: 24px;
//   margin: 20px 0;

//   @include mq("md") {
//     margin: 20px 0;
//   }

//   @include mq("xl") {
//     padding: 60px;
//   }
// }

// .main-section {
//   overflow: hidden;
// }