footer {
  background-color: $cello;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;

  .left-block {
    width: 65%;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 400;

    .logo {
      width: 140px;
      height: 32px;
      display: block;
      margin-bottom: 20px;
    }

    .text {
      opacity: 0.6;

      .footer-link {
        color: $RobinsEggBlue;
      }
    }
  }

  .right-block {
    width: 35%;
  }
}