// Colors
$red: #db0911;
$green: #008255;
$yellow: #ffac00;
$gray: #f7f8fa;
$blueberry : #566fff;
$RobinsEggBlue: #00cab7;
$CaribbeanGreen:  #02b9a8;
$iceberg: #dff6f4;
$OrangeSoda: #F75C48;
$LavenderMagenta: #ee93d5;
$blueberrywhite: #6a85fc;
$periwinkle: #D6DEFF;
$cello: #222e63;

// Media query breakpoints
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
