.measureresults-container {
    background-color: $LavenderMagenta;
    padding-top: 120px;
    height: 850px;
    color: white;

    .left-block {
        width: 35%;
    }

    .right-block {
        width: 65%;

        .img-block {
            position: relative;

            .chart-img {
                position: absolute;
                width: 600px;
            }

            .text {
                position: absolute;
                width: 50%;
                left: 29%;
                top: 500px;
            }

            .characterw-img {
                position: absolute;
                left: 520px;
                top: -25px;
            }
        }
    }
}