#rec225496984 .t396__artboard {
    height: 900px;
    background-color: #ee93d5;
    overflow: visible;
}

#rec225496984 .t396__filter {
    height: 900px;
}

#rec225496984 .t396__carrier {
    height: 900px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec225496984 .t396__artboard {}

    #rec225496984 .t396__filter {}

    #rec225496984 .t396__carrier {
        background-attachment: scroll;
    }
    #rec225496984 .tn-elem[data-elem-id="1598889024363"] {
        color: #ffffff;
        z-index: 1;
        top: 260px;
        left: calc(50% - 525px + 23px);
        width: 360px;
    }
}

@media screen and (max-width: 959px) {
    #rec225496984 .t396__artboard {
        height: 1060px;
    }

    #rec225496984 .t396__filter {
        height: 1060px;
    }

    #rec225496984 .t396__carrier {
        height: 1060px;
    }
    
}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec225496984 .t396__artboard {
        height: 870px;
    }

    #rec225496984 .t396__filter {
        height: 870px;
    }

    #rec225496984 .t396__carrier {
        height: 870px;
    }
}

#rec225496984 .tn-elem[data-elem-id="1598889024363"] {
    color: #ffffff;
    z-index: 1;
    top: 260px;
    left: calc(50% - 600px + 23px);
    width: 360px;
}

#rec225496984 .tn-elem[data-elem-id="1598889024363"] .tn-atom {
    color: #ffffff;
    font-size: 36px;
    font-family: "NunitoSans", Arial, sans-serif;
    line-height: 1.2;
    font-weight: 100;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024363"] {
        top: 136px;
        left: calc(50% - 320px + 92px);
    }
}

@media screen and (max-width: 639px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024363"] {
        top: 136px;
        left: calc(50% - 240px + 11px);
    }

    #rec225496984 .tn-elem[data-elem-id="1598889024363"] .tn-atom {
        font-size: 32px;
    }
}

@media screen and (max-width: 479px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024363"] {
        top: 136px;
        left: calc(50% - 160px + 11px);
        width: 260px;
    }

    #rec225496984 .tn-elem[data-elem-id="1598889024363"] .tn-atom {
        font-size: 32px;
    }
}

#rec225496984 .tn-elem[data-elem-id="1598889024372"] {
    color: #ffffff;
    z-index: 2;
    top: 319px;
    left: calc(50% - 600px + 22px);
    width: 400px;
}

#rec225496984 .tn-elem[data-elem-id="1598889024372"] .tn-atom {
    color: #ffffff;
    font-size: 20px;
    font-family: "NunitoSans", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024372"] {
        top: 319px;
        left: calc(50% - 480px + 22px);
        width: 350px;
    }
    #rec225496984 .tn-elem[data-elem-id="1598889024381"] {
        color: #ffffff;
        z-index: 3;
        top: 205px;
        left: calc(50% - 480px + 22px);
        width: 80px;
    }
    #rec225496984 .tn-elem[data-elem-id="1598889024363"] {
        left: calc(50% - 480px + 22px);

    }
    #rec225496984 .tn-elem[data-elem-id="1599148751113"] {
        left: calc(50% - 480px + 22px);

    }

}

@media screen and (max-width: 959px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024372"] {
        top: 195px;
        left: calc(50% - 320px + 91px);
    }
    #rec225496984 .tn-elem[data-elem-id="1598889024363"] {
        left: calc(50% - 320px + 91px);
    }
    #rec225496984 .tn-elem[data-elem-id="1598889024381"] {
        left: calc(50% - 320px + 91px);

    }
}

@media screen and (max-width: 639px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024372"] {
        top: 195px;
        left: calc(50% - 240px + 10px);
        width: 460px;
    }
}

@media screen and (max-width: 479px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024372"] {
        top: 194px;
        left: calc(50% - 160px + 10px);
        width: 300px;
    }

    #rec225496984 .tn-elem[data-elem-id="1598889024372"] .tn-atom {
        font-size: 18px;
    }
    #rec225496984 .tn-elem[data-elem-id="1598889024363"] {
        left: calc(50% - 160px + 10px);

    }
    #rec225496984 .tn-elem[data-elem-id="1598889024381"] {
        left: calc(50% - 160px + 10px);

    }
}

#rec225496984 .tn-elem[data-elem-id="1598889024381"] {
    color: #ffffff;
    z-index: 3;
    top: 205px;
    left: calc(50% - 600px + 22px);
    width: 80px;
}

#rec225496984 .tn-elem[data-elem-id="1598889024381"] .tn-atom {
    color: #ffffff;
    font-size: 20px;
    font-family: "NunitoSans", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    opacity: 0.6;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024381"] {
        top: 81px;
        left: calc(50% - 320px + 91px);
    }
}

@media screen and (max-width: 639px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024381"] {
        top: 81px;
        left: calc(50% - 240px + 10px);
    }
}

@media screen and (max-width: 479px) {
    #rec225496984 .tn-elem[data-elem-id="1598889024381"] {
        left: calc(50% - 160px + 10px);
    }
}

#rec225496984 .tn-elem[data-elem-id="1598889670378"] {
    z-index: 7;
    top: 130px;
    left: calc(50% - 600px + 970px);
    width: 595px;
}

#rec225496984 .tn-elem[data-elem-id="1598889670378"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225496984 .tn-elem[data-elem-id="1598889670378"] {
        top: 135px;
        left: calc(50% - 480px + 680px);
    }
}

@media screen and (max-width: 959px) {
    #rec225496984 .tn-elem[data-elem-id="1598889670378"] {
        top: 433px;
        left: calc(50% - 320px + 356px);
        width: 535px;
    }
}

@media screen and (max-width: 639px) {
    #rec225496984 .tn-elem[data-elem-id="1598889670378"] {
        top: 410px;
        left: calc(50% - 240px + 360px);
    }
}

@media screen and (max-width: 479px) {
    #rec225496984 .tn-elem[data-elem-id="1598889670378"] {
        top: 417px;
        left: calc(50% - 160px + 170px);
        width: 325px;
    }
}

#rec225496984 .tn-elem[data-elem-id="1598889801732"] {
    z-index: 5;
    top: 155px;
    left: calc(50% - 600px + 450px);
    width: 595px;
}

#rec225496984 .tn-elem[data-elem-id="1598889801732"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225496984 .tn-elem[data-elem-id="1598889801732"] {
        top: 160px;
        left: calc(50% - 480px + 380px);
        width: 520px;
    }
}

@media screen and (max-width: 959px) {
    #rec225496984 .tn-elem[data-elem-id="1598889801732"] {
        top: 455px;
        left: calc(50% - 320px + 0px);
        width: 480px;
    }
    
#rec225496984 .tn-elem[data-elem-id="1599148751104"] {
    z-index: 9;
    top: 483px;
    left: calc(50% - 525px + 22px);
    width: 200px;
}
}

@media screen and (max-width: 639px) {
    #rec225496984 .tn-elem[data-elem-id="1598889801732"] {
        top: 432px;
        left: calc(50% - 240px + 4px);
    }
}

@media screen and (max-width: 479px) {
    #rec225496984 .tn-elem[data-elem-id="1598889801732"] {
        top: 430px;
        left: calc(50% - 160px + -10px);
        width: 320px;
    }
}

#rec225496984 .tn-elem[data-elem-id="1599148751104"] {
    z-index: 9;
    top: 483px;
    left: calc(50% - 600px + 22px);
    width: 200px;
}

#rec225496984 .tn-elem[data-elem-id="1599148751104"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    
#rec225496984 .tn-elem[data-elem-id="1599148751113"] {
    z-index: 10;
    top: 483px;
    left: calc(50% - 525px + 22px);
    width: 200px;
}
#rec225496984 .tn-elem[data-elem-id="1599148751104"] {
    left: calc(50% - 480px + 22px);

}
}

@media screen and (max-width: 959px) {
    #rec225496984 .tn-elem[data-elem-id="1599148751104"] {
        top: 359px;
        left: calc(50% - 320px + 91px);
    }
}

@media screen and (max-width: 639px) {
    #rec225496984 .tn-elem[data-elem-id="1599148751104"] {
        top: 328px;
        left: calc(50% - 240px + 10px);
    }
}

@media screen and (max-width: 479px) {
    #rec225496984 .tn-elem[data-elem-id="1599148751104"] {
        left: calc(50% - 160px + 10px);

    }
}

#rec225496984 .tn-elem[data-elem-id="1599148751113"] {
    z-index: 10;
    top: 483px;
    left: calc(50% - 600px + 22px);
    width: 200px;
}

#rec225496984 .tn-elem[data-elem-id="1599148751113"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225496984 .tn-elem[data-elem-id="1599148751113"] {
        z-index: 10;
        top: 483px;
        left: calc(50% - 480px + 22px);
        width: 200px;
    }
}

@media screen and (max-width: 959px) {
    #rec225496984 .tn-elem[data-elem-id="1599148751113"] {
        top: 359px;
        left: calc(50% - 320px + 91px);
    }
}

@media screen and (max-width: 639px) {
    #rec225496984 .tn-elem[data-elem-id="1599148751113"] {
        top: 328px;
        left: calc(50% - 240px + 10px);
    }
}

@media screen and (max-width: 479px) {
    #rec225496984 .tn-elem[data-elem-id="1599148751113"] {
        left: calc(50% - 160px + 10px);

    }
}

#rec225496984 .tn-elem[data-elem-id="1599462044795"] {
    color: #ffffff;
    z-index: 11;
    top: 660px;
    left: calc(50% - 600px + 620px);
    width: 300px;
}

#rec225496984 .tn-elem[data-elem-id="1599462044795"] .tn-atom {
    color: #ffffff;
    font-size: 36px;
    font-family: "NunitoSans", Arial, sans-serif;
    line-height: 1.2;
    font-weight: 100;
    opacity: 0.6;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec225496984 .tn-elem[data-elem-id="1599462044795"] {
        top: 595px;
        left: calc(50% - 480px + 490px);
        width: 280px;
    }

    #rec225496984 .tn-elem[data-elem-id="1599462044795"] .tn-atom {
        font-size: 32px;
    }
}

@media screen and (max-width: 959px) {
    #rec225496984 .tn-elem[data-elem-id="1599462044795"] {
        top: 870px;
        left: calc(50% - 320px + 90px);
    }
}

@media screen and (max-width: 639px) {
    #rec225496984 .tn-elem[data-elem-id="1599462044795"] {
        top: 845px;
        left: calc(50% - 240px + 90px);
    }
}

@media screen and (max-width: 479px) {
    #rec225496984 .tn-elem[data-elem-id="1599462044795"] {
        top: 720px;
        left: calc(50% - 160px + 10px);
        width: 240px;
    }

    #rec225496984 .tn-elem[data-elem-id="1599462044795"] .tn-atom {
        font-size: 22px;
    }
}