#custom-handle {
  top: -8px;
  text-align: center;
  border-radius: 30px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  width: 83px;
  height: 32px;
  color: white;
  background: #02b9a8;
  border: none;
  box-shadow: 0px 4px 8px rgba(67, 86, 100, 0.102956),
    0px 8px 16px rgba(67, 86, 100, 0.0780977);
  cursor: pointer;
}
#custom-handle:focus {
  outline: none;
}
.ui-widget.ui-widget-content.ui-corner-all {
  border: none;
  background-color: #344798;
  border-radius: 30px;
  height: 16px;
}
.ui-slider-range-min.ui-widget-header {
  background: #01988a;
  border-radius: 30px;
}
.ui-slider-horizontal {
  border: none;
}
.info-window {
  width: 267px;
  position: absolute;
  top: 50px;
  left: calc(50% - 153.5px);
  background-color: #ffffff;
  box-shadow: 0px 10px 32px rgba(67, 86, 100, 0.165947);
  border-radius: 8px;
  padding: 16px 20px;
}
.info-window .info-arrow {
  width: 20px;
  height: 20px;
  top: -7px;
  position: absolute;
  left: calc(50% - 14px);
  transform: rotate(45deg);
  background-color: #ffffff;
  border-radius: 6px;
}
.info-window .info-title {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #222e63;
}
.info-window .info-desc {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #778699;
  margin-bottom: 24px;
}
.info-window .fee-amount {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 32px;
  color: #00cab7;
}
.info-window .fee-dur {
  margin-top: 12px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #778699;
}