#rec279166044 .t396__artboard {
  height: 810px;
  background-color: #f75c48;
  overflow: visible;
}
#rec279166044 .t396__filter {
  height: 810px;
}
#rec279166044 .t396__carrier {
  height: 810px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .t396__artboard {
    height: 670px;
  }
  #rec279166044 .t396__filter {
    height: 670px;
  }
  #rec279166044 .t396__carrier {
    height: 670px;
    background-attachment: scroll;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .t396__artboard {
    height: 1010px;
  }
  #rec279166044 .t396__filter {
    height: 1010px;
  }
  #rec279166044 .t396__carrier {
    height: 1010px;
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .t396__artboard {
    height: 960px;
  }
  #rec279166044 .t396__filter {
    height: 960px;
  }
  #rec279166044 .t396__carrier {
    height: 960px;
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .t396__artboard {
    height: 870px;
  }
  #rec279166044 .t396__filter {
    height: 870px;
  }
  #rec279166044 .t396__carrier {
    height: 870px;
  }
}
#rec279166044 .tn-elem[data-elem-id="1598884642155"] {
  color: #ffffff;
  z-index: 2;
  top: 187px;
  left: calc(50% - 600px + 720px);
  width: 400px;
}
#rec279166044 .tn-elem[data-elem-id="1598884642155"] .tn-atom {
  color: #ffffff;
  font-size: 36px;
  font-family: "NunitoSans", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .tn-elem[data-elem-id="1598884642155"] {
    top: 165px;
    left: calc(50% - 480px + 570px);
    width: 320px;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .tn-elem[data-elem-id="1598884642155"] {
    top: 110px;
    left: calc(50% - 320px + 92px);
    width: 360px;
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .tn-elem[data-elem-id="1598884642155"] {
    top: 91px;
    left: calc(50% - 240px + 10px);
  }
  #rec279166044 .tn-elem[data-elem-id="1598884642155"] .tn-atom {
    font-size: 28px;
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .tn-elem[data-elem-id="1598884642155"] {
    top: 90px;
    left: calc(50% - 160px + 10px);
    width: 300px;
  }
}
#rec279166044 .tn-elem[data-elem-id="1598884642164"] {
  color: #ffffff;
  z-index: 1;
  top: 250px;
  left: calc(50% - 600px + 720px);
  width: 400px;
}
#rec279166044 .tn-elem[data-elem-id="1598884642164"] .tn-atom {
  color: #ffffff;
  font-size: 20px;
  font-family: "NunitoSans", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .tn-elem[data-elem-id="1598884642164"] {
    top: 235px;
    left: calc(50% - 480px + 570px);
    width: 380px;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .tn-elem[data-elem-id="1598884642164"] {
    top: 173px;
    left: calc(50% - 320px + 91px);
    width: 480px;
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .tn-elem[data-elem-id="1598884642164"] {
    top: 144px;
    left: calc(50% - 240px + 10px);
    width: 460px;
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .tn-elem[data-elem-id="1598884642164"] {
    top: 143px;
    left: calc(50% - 160px + 10px);
    width: 300px;
  }
  #rec279166044 .tn-elem[data-elem-id="1598884642164"] .tn-atom {
    font-size: 18px;
  }
}
#rec279166044 .tn-elem[data-elem-id="1616584424277"] {
  z-index: 4;
  top: 89px;
  left: calc(50% - 600px + 123px);
  width: 140px;
}
#rec279166044 .tn-elem[data-elem-id="1616584424277"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .tn-elem[data-elem-id="1616584424277"] {
    top: 90px;
    left: calc(50% - 480px + 94px);
    width: 120px;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .tn-elem[data-elem-id="1616584424277"] {
    top: 460px;
    left: calc(50% - 320px + 126px);
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .tn-elem[data-elem-id="1616584424277"] {
    top: 430px;
    left: calc(50% - 240px + 52px);
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .tn-elem[data-elem-id="1616584424277"] {
    top: 470px;
    left: calc(50% - 160px + 18px);
    width: 90px;
  }
}
#rec279166044 .tn-elem[data-elem-id="1616584459787"] {
  z-index: 5;
  top: 89px;
  left: calc(50% - 600px + 420px);
  width: 140px;
}
#rec279166044 .tn-elem[data-elem-id="1616584459787"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .tn-elem[data-elem-id="1616584459787"] {
    top: 90px;
    left: calc(50% - 480px + 350px);
    width: 120px;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .tn-elem[data-elem-id="1616584459787"] {
    top: 460px;
    left: calc(50% - 320px + 380px);
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .tn-elem[data-elem-id="1616584459787"] {
    top: 430px;
    left: calc(50% - 240px + 305px);
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .tn-elem[data-elem-id="1616584459787"] {
    top: 470px;
    left: calc(50% - 160px + 214px);
    width: 90px;
  }
}
#rec279166044 .tn-elem[data-elem-id="1616584463076"] {
  z-index: 6;
  top: 89px;
  left: calc(50% - 600px + 271px);
  width: 140px;
}
#rec279166044 .tn-elem[data-elem-id="1616584463076"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .tn-elem[data-elem-id="1616584463076"] {
    top: 90px;
    left: calc(50% - 480px + 222px);
    width: 120px;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .tn-elem[data-elem-id="1616584463076"] {
    top: 460px;
    left: calc(50% - 320px + 254px);
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .tn-elem[data-elem-id="1616584463076"] {
    top: 430px;
    left: calc(50% - 240px + 180px);
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .tn-elem[data-elem-id="1616584463076"] {
    top: 470px;
    left: calc(50% - 160px + 116px);
    width: 90px;
  }
}
#rec279166044 .tn-elem[data-elem-id="1616584796737"] {
  z-index: 7;
  top: 335px;
  left: calc(50% - 600px + 17px);
  width: 558px;
}
#rec279166044 .tn-elem[data-elem-id="1616584796737"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .tn-elem[data-elem-id="1616584796737"] {
    top: 299px;
    left: calc(50% - 480px + 35px);
    width: 400px;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .tn-elem[data-elem-id="1616584796737"] {
    top: 669px;
    left: calc(50% - 320px + 67px);
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .tn-elem[data-elem-id="1616584796737"] {
    top: 637px;
    left: calc(50% - 240px + -7px);
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .tn-elem[data-elem-id="1616584796737"] {
    top: 636px;
    left: calc(50% - 160px + -2px);
    width: 260px;
  }
}
#rec279166044 .tn-elem[data-elem-id="1616584822421"] {
  z-index: 8;
  top: 369px;
  left: calc(50% - 600px + 90px);
  width: 558px;
}
#rec279166044 .tn-elem[data-elem-id="1616584822421"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .tn-elem[data-elem-id="1616584822421"] {
    top: 330px;
    left: calc(50% - 480px + 82px);
    width: 400px;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .tn-elem[data-elem-id="1616584822421"] {
    top: 700px;
    left: calc(50% - 320px + 114px);
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .tn-elem[data-elem-id="1616584822421"] {
    top: 668px;
    left: calc(50% - 240px + 40px);
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .tn-elem[data-elem-id="1616584822421"] {
    top: 656px;
    left: calc(50% - 160px + 31px);
    width: 260px;
  }
}
#rec279166044 .tn-elem[data-elem-id="1616584855982"] {
  z-index: 9;
  top: 405px;
  left: calc(50% - 600px + 160px);
  width: 558px;
}
#rec279166044 .tn-elem[data-elem-id="1616584855982"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .tn-elem[data-elem-id="1616584855982"] {
    top: 365px;
    left: calc(50% - 480px + 132px);
    width: 400px;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .tn-elem[data-elem-id="1616584855982"] {
    top: 735px;
    left: calc(50% - 320px + 164px);
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .tn-elem[data-elem-id="1616584855982"] {
    top: 703px;
    left: calc(50% - 240px + 90px);
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .tn-elem[data-elem-id="1616584855982"] {
    top: 674px;
    left: calc(50% - 160px + 65px);
    width: 260px;
  }
}
#rec279166044 .tn-elem[data-elem-id="1616584925547"] {
  z-index: 3;
  top: 259px;
  left: calc(50% - 600px + 180px);
  width: 310px;
}
#rec279166044 .tn-elem[data-elem-id="1616584925547"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec279166044 .tn-elem[data-elem-id="1616584925547"] {
    top: 236px;
    left: calc(50% - 480px + 151px);
    width: 260px;
  }
}
@media screen and (max-width: 959px) {
  #rec279166044 .tn-elem[data-elem-id="1616584925547"] {
    top: 606px;
    left: calc(50% - 320px + 183px);
  }
}
@media screen and (max-width: 639px) {
  #rec279166044 .tn-elem[data-elem-id="1616584925547"] {
    top: 576px;
    left: calc(50% - 240px + 109px);
  }
}
@media screen and (max-width: 479px) {
  #rec279166044 .tn-elem[data-elem-id="1616584925547"] {
    top: 580px;
    left: calc(50% - 160px + 60px);
    width: 200px;
  }
}