#rec229990459 .t-slds__bullet_active .t-slds__bullet_body {
    background-color: #ffffff !important;
}

#rec229990459 .t-slds__bullet:hover .t-slds__bullet_body {
    background-color: #ffffff !important;
}

.t-review-social-links {
    line-height: 0px;
}

.t-review-social-links__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: auto;
}

.t-review-social-links {
    margin-top: 15px;
}

.t-review-social-links__item {
    padding: 0px 4px;
}

.t-review-social-links__item svg {
    width: 20px;
    height: 20px;
}

.t-review-social-links__wrapper_round .t-review-social-links__item svg {
    width: 23px;
    height: 23px;
}

.t-review-social-links__item:first-child {
    padding-left: 0px;
}

@media screen and (max-width: 960px) {
    .t-review-social-links__item {
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 640px) {
    .t-review-social-links {
        margin-top: 13px;
    }

    .t-review-social-links__item {
        padding: 0px 3px;
    }

    .t-review-social-links__item svg {
        width: 17px;
        height: 17px;
    }

    .t-review-social-links__wrapper_round .t-review-social-links__item svg {
        width: 20px;
        height: 20px;
    }
}

.swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    top: 50px !important;

   
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    font-size: 14px !important;
    color: rgb(34, 34, 34) !important;
}

.swiper-button-next {
    width: 30px !important;
    height: 30px !important;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    top: 50px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    font-size: 14px !important;
    color: rgb(34, 34, 34) !important;

}